@keyframes arrowLift {
    0% {
        margin-left: 30px;
    }

    100% {
        margin-left: 125px;
    }
}

@keyframes arrowRight {
    0% {
        margin-left: 125px;
    }

    100% {
        margin-left: 30px;
    }
}

@keyframes translateDown {
    0% {
        transform: translatey(calc(-100% - 10px));
    }

    100% {
        transform: translatey(0);

    }
}

@keyframes translateUp {
    0% {
        transform: translatey(0);
    }

    100% {
        transform: translatey(calc(-100% - 10px));
    }
}

:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
}